@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?t1xio6');
  src:  url('../fonts/icomoon.eot?t1xio6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?t1xio6') format('truetype'),
    url('../fonts/icomoon.woff?t1xio6') format('woff'),
    url('../fonts/icomoon.svg?t1xio6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_arrow_up:before {
  content: "\e900";
}
.icon-keyboard_arrow_right:before {
  content: "\e901";
}
.icon-keyboard_arrow_left:before {
  content: "\e902";
}
.icon-keyboard_arrow_down:before {
  content: "\e903";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
